      <section class="clients">
        <h2 class="main-title">Постоянные клиенты</h2>
        <div class="container">
          <ul class="clients__list">
            <li>
              <a class="clients__link" href="#">
                <svg
                  aria-label="логотип постоянного клиента"
                  class="clients__icon client__icon_one"
                >
                  <use href="./images/icon.svg#icon-client1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="clients__link" href="#">
                <svg
                  aria-label="логотип постоянного клиента"
                  class="clients__icon client__icon_two"
                >
                  <use href="./images/icon.svg#icon-client2"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="clients__link" href="#">
                <svg
                  aria-label="логотип постоянного клиента"
                  class="clients__icon client__icon_three"
                >
                  <use href="./images/icon.svg#icon-client3"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="clients__link" href="#">
                <svg
                  aria-label="логотип постоянного клиента"
                  class="clients__icon client__icon_four"
                >
                  <use href="./images/icon.svg#icon-client4"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="clients__link" href="#">
                <svg
                  aria-label="логотип постоянного клиента"
                  class="clients__icon client__icon_five"
                >
                  <use href="./images/icon.svg#icon-client5"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="clients__link" href="#">
                <svg
                  aria-label="логотип постоянного клиента"
                  class="clients__icon client__icon_sex"
                >
                  <use href="./images/icon.svg#icon-client6"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </section>