    <header class="header">
      <div class="container header__menu">
        <a href="./index.html" class="logo logo__box"
          >Web<span class="logo__header">Studio</span></a
        >
        <nav class="page-nav">
          <ul class="page-nav__list">
            <li class="page-nav__list_wrapper">
              <a href="./index.html" class="page-nav__link page-nav__link_active">Студия</a>
            </li>
            <li><a href="./portfolio.html" class="page-nav__link">Портфолио</a></li>
            <li><a href="#" class="page-nav__link">Контакты</a></li>
          </ul>
        </nav>
        <ul class="contact-header__list contact-header__flex">
          <li class="contact-header__item">
            <a href="mailto:info@devstudio.com" class="contact-header__link">
              <svg class="contact-header__icon_mail">
                <use href="./images/icon.svg#icon-mail"></use>
              </svg>
              info@devstudio.com</a
            >
          </li>
          <li class="contact-header__item">
            <a href="tel:+380961111111" class="contact-header__link">
              <svg class="contact-header__icon_phone">
                <use href="./images/icon.svg#icon-smartphone"></use>
              </svg>
              +38 096 111 11 11</a
            >
          </li>
        </ul>
        <button type="button" class="menu-burger__open" data-menu-open>
          <svg class="menu-burger__icon">
            <use href="./images/icon.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
      <!-- Mobile menu -->
      <div class="mobile-menu" data-menu>
        <div class="container mobile-menu_wrapper">
          <button type="button" class="mobile-menu__btn_close" data-menu-close>
            <svg class="mobile-menu__icon">
              <use href="./images/icon.svg#icon-close"></use>
            </svg>
          </button>
          <nav class="mobile-menu__nav">
            <ul class="mobile-menu__nav-list">
              <li class="mobile-menu__nav-item">
                <a href="./index.html" class="mobile-menu__link mobile-menu__link_active">Студия</a>
              </li>
              <li class="mobile-menu__nav-item">
                <a href="../portfolio.html" class="mobile-menu__link">Портфолио</a>
              </li>
              <li class="mobile-menu__nav-item">
                <a href="#" class="mobile-menu__link">Контакты</a>
              </li>
            </ul>
          </nav>
          <div class="mobile-menu__contact">
            <ul class="mobile-menu__contact-list">
              <li>
                <a
                  href="tel:+380961111111"
                  class="mobile-menu__contact-link mobile-menu__contact-link_phone"
                >
                  +38 096 111 11 11</a
                >
              </li>
              <li>
                <a href="mailto:info@devstudio.com" class="mobile-menu__contact-link mobile-menu__contact-link_email">
                  info@devstudio.com</a
                >
              </li>
            </ul>
            <ul class="mobile-menu__social-list">
              <li class="mobile-menu__social-list_item"><a href="" class="mobile-menu__social-list_link">Instagram</a></li>
              <li class="mobile-menu__social-list_item"><a href="" class="mobile-menu__social-list_link">Twitter</a></li>
              <li class="mobile-menu__social-list_item"><a href="" class="mobile-menu__social-list_link">Facebook</a></li>
              <li class="mobile-menu__social-list_item"><a href="" class="mobile-menu__social-list_link">LinkedIn</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>