      <section class="team">
        <h2 class="main-title">Наша команда</h2>

        <div class="container">
          <ul class="team__box">
            <li class="team__list">
              <picture>
                <source
                  srcset="./images/desktop/igor.jpg 1x, ./images/desktop/igor@2x.jpg 2x"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="./images/tablet/igor.jpg 1x, ./images/tablet/igor@2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <img
                  class="team__list_img"
                  srcset="./images/mobil/igor.jpg 1x, ./images/mobil/igor@2x.jpg 2x"
                  src="./images/mobil/igor.jpg"
                  alt="Игорь Демьяненко"
                />
              </picture>

              <div class="team__card">
                <h3 class="team__title">Игорь Демьяненко</h3>
                <p class="team__text" lang="en">Product Designer</p>
                <ul class="social-box">
                  <li>
                    <a class="social-box__link" href="#">
                      <svg lang="en" aria-label="instagram icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social-box__link" href="">
                      <svg lang="en" aria-label="twiter icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-twiter"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social-box__link" href="">
                      <svg lang="en" aria-label="facebook icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social-box__link" href="">
                      <svg lang="en" aria-label="linkedin icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="team__list">
              <picture>
                <source
                  srcset="./images/desktop/olga.jpg 1x, ./images/desktop/olga@2x.jpg 2x"
                  media="(min-width: 1200px)" />
                <source
                  srcset="./images/tablet/olga.jpg 1x, ./images/tablet/olga@2x.jpg 2x"
                  media="(min-width: 768px)" />
                <img
                  class="team__list_img"
                  srcset="./images/mobil/olga.jpg 1x, ./images/mobil/olga@2x.jpg 2x"
                  src="./images/mobil/olga.jpg"
                  alt="Ольга Репина"
              /></picture>

              <div class="team__card">
                <h3 class="team__title">Ольга Репина</h3>
                <p class="team__text" lang="en">Frontend Developer</p>
                <ul class="social-box">
                  <li>
                    <a class="social-box__link" href="#">
                      <svg lang="en" aria-label="instagram icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social-box__link" href="">
                      <svg lang="en" aria-label="twiter icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-twiter"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social-box__link" href="">
                      <svg lang="en" aria-label="facebook icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social-box__link" href="">
                      <svg lang="en" aria-label="linkedin icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="team__list">
              <picture>
                <source
                  srcset="./images/desktop/nikola.jpg 1x, ./images/desktop/nikola@2x.jpg 2x"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="./images/tablet/nikola.jpg 1x, ./images/tablet/nikola@2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <img
                  class="team__list_img"
                  srcset="./images/mobil/nikola.jpg 1x, ./images/mobil/nikola@2x.jpg 2x"
                  src="./images/mobil/nikola.jpg"
                  alt="Николай Тарасов"
                />
              </picture>

              <div class="team__card">
                <h3 class="team__title">Николай Тарасов</h3>
                <p class="team__text" lang="en">Marketing</p>
                <ul class="social-box">
                  <li>
                    <a class="social-box__link" href="#">
                      <svg lang="en" aria-label="instagram icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social-box__link" href="">
                      <svg lang="en" aria-label="twiter icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-twiter"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social-box__link" href="">
                      <svg lang="en" aria-label="facebook icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social-box__link" href="">
                      <svg lang="en" aria-label="linkedin icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="team__list">
              <picture>
                <source
                  srcset="./images/desktop/mihail.jpg 1x, ./images/desktop/mihail@2x.jpg 2x"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="./images/tablet/mihail.jpg 1x, ./images/tablet/mihail@2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <img
                  class="team__list_img"
                  srcset="./images/mobil/mihail.jpg 1x, ./images/mobil/mihail@2x.jpg 2x"
                  src="./images/mobil/mihail.jpg"
                  alt="Михил Ермаков"
                />
              </picture>

              <div class="team__card">
                <h3 class="team__title">Михаил Ермаков</h3>
                <p class="team__text" lang="en">UI Designer</p>
                <ul class="social-box">
                  <li>
                    <a class="social-box__link" href="#">
                      <svg lang="en" aria-label="instagram icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social-box__link" href="">
                      <svg lang="en" aria-label="twiter icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-twiter"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social-box__link" href="">
                      <svg lang="en" aria-label="facebook icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social-box__link" href="">
                      <svg lang="en" aria-label="linkedin icon" class="social-box__icon">
                        <use href="./images/icon.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </section>