.about{
    display: none;
}


@media screen and (min-width: 1200px) {
.about {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;

    text-align: center;
}

.about__list {
    display: flex;
    gap: 30px;
}

.about__wrapper{
    position: relative;
}

.about__position {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(47, 48, 58, 0.8);
}

.about__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-color);
}
}